body{
    background-image: url(images/counterstrike.png);
    background-size: 100%;
    color: #fff;
    font-weight: bold;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .panel {
    width: 30%;
    height: 100px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
  }
  .panel img {
    width: 50%;
  }
  @media screen and (max-width: 600px) {
    .panel {
      width: 100%;
    }
  }
  

.box{
    width: 450px;
    height: 250px;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 10px;
    margin-top: 7%;
    margin-left: 5%;
    box-sizing: border-box;
    position: static;
    float: left;
    text-align: center;
}
.box:hover{ scale: 1.1; background-color: rgba(50, 50, 50, 0.5); }
#showbutton{
    background-color: rgb(250, 97, 2);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 3%;
    margin-top: 10%;
    color: #fff;
    cursor: pointer;
}
#showbutton:hover{ scale: 1.1; }
@media only screen and (min-width: 80vw){
    .beginnerbox{ margin-left: 10%; }
}
@media only screen and (max-width: 1800px){
    .beginnerbox{ margin-left: 5%; }
} 
.infodiv{
    background-color: rgba(50, 50, 50, 0.8);
    width: 60%;
    height: 200px;
    margin-left: 20%;
    margin-top: 5%;
    text-align: center;
}
.infodiv:hover{scale: 1.1; background-color: rgba(50, 50, 50, 0.5);}
.joinbutton{
    background-color: rgb(250, 97, 2);
    border-radius: 10px;
    padding: 1%;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}
.joinbutton:hover{
    scale: 1.1;
}